<div *ngIf="!groups; else elseBlock">Я загрузка</div>
<div *ngIf="errors;">Я сломался</div>
<ng-template #elseBlock>
  <table class="container">
    <thead>
      <tr>
        <th class="table-head" *ngFor="let column of columns">
          <h1>{{ column }}</h1>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let group of groups">
        <td>
          <h3>
            {{ group.name }}
          </h3>
        </td>
        <div class="btn-container">
          <a routerLink="/groups/{{ group.id }}" class="button">Подробнее</a>
        </div>
      </tr>
    </tbody>
  </table>
</ng-template>
