<div class="container">
  <div *ngIf="!groups; else elseBlock">Я загрузка</div>
  <div *ngIf="err">Я сломался</div>
  <ng-template #elseBlock>
    <h3>Группы</h3>
    <div *ngIf="groupsEmpty()">Группы отсутствуют</div>
    <div class="list-group list-group-light">
      <div *ngFor="let group of groups"
           class="list-group-item list-group-item-action px-3 border-0"
           aria-current="true"
      >
        <h5 routerLink="/groups/{{ group.id }}">
          {{group.name}}
        </h5>
        <input type="button" value="Удалить" (click)="deleteGroup(group.id)" class="btn btn-outline-danger btn-large"
               mdbRipple rippleColor="dark"/>
      </div>
    </div>
    <input type="button" value="Добавить" class="btn btn-add" (click)="openModalAddNew()"/>
  </ng-template>
</div>
