<div class="container">
  <div *ngIf="!group; else elseBlock">Я загрузка</div>
  <div *ngIf="errors;">Я сломался</div>
  <ng-template #elseBlock>
    <div class="button-flex">
      <h3>{{ group.name }}</h3>
      <button type="button" class="btn btn-secondary" (click)="openModalChange(group)">Редактировать </button>
    </div>
    <h4>Список студентов:</h4>
    <div *ngIf="studentEmpty(); else printBlock">Студентов не завезли</div>
    <ng-template #printBlock>
      <div class="list-group list-group-light">
        <div *ngFor="let student of getStudents()"
             class="list-group-item list-group-item-action px-3 border-0" aria-current="true"
        >
          <h6 routerLink="/students/{{ student.id }}">{{ student.lastname }} {{ student.firstname }}</h6>
          <input type="button" value="Удалить" (click)="deleteStudent(student.id)" class="btn btn-outline-danger"
                 mdbRipple rippleColor="dark"/>
        </div>
      </div>
    </ng-template>
    <input type="button" value="Добавить" class="btn btn-add" (click)="openModalAddNew(group.id)"/>
  </ng-template>
  <div class="container-button">
    <input type="button" value="Назать" class="btn btn-add" (click)="goBack()"/>
  </div>
</div>
