.container-fluid {
  margin-top: 20px;
  margin-right: 35px;
}

.button-flex {
  display: flex;
  justify-content: space-between;
}

.list-group-light > .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-button{
  margin-top: 20px;
}
