<div *ngIf="!existingNames; else elseBlock">Я загрузка</div>
<ng-template #elseBlock>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm">
      <div class="input-group mb-3">
        <input
          type="text"
          formControlName="name"
          class="form-control"
          placeholder="Название группы"
          aria-label="studyHours"
          aria-describedby="basic-addon1"
          [(ngModel)]="name"
        />
      </div>
      <div *ngIf="nameControl && nameControl.hasError('duplicateName')">
        <p class="text-danger">Группа с таким именем уже существует</p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">
      Закрыть
    </button>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="!checkNull() || myForm.invalid"
      (click)="save()">
      Сохранить
    </button>
  </div>
</ng-template>

